body {
	font-size: 2em;
}

footer {
	margin-top: 69px;
}

a {
	text-decoration: none;
}

#header {
	padding-bottom: 69px;
}

.workInProgress {
	position: absolute;
	top:0px;
	left:0px;
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: center;
	text-align: center;
	color: rgba(255, 255, 255, 0);
	z-index: 10;
	font-size: 5em;
}

#enchant-stage {
	background-color: rgb(0, 0, 0);
}

.game {
	border: 0;
	padding: 0;
	margin: 0;
}

.game .playArea {
	text-align: center;
}

.game .playArea a {
	color: #000000;
	background-color: rgba(255, 255, 255, 0.9);
}

.game #pacmanGameBoard {
	text-align: center;
}

#pacman .page-header {
	height: 129px;
	background: #f4f4f4 url(../images/banner.gif) top center;
  	background-size: cover;
	text-align: center;
}

#pacman .page-header h1 {
	background-color: rgba(255, 255, 255, 0.9);
}

#score {
	float: left;
}

#powerUps {
	float: right;
}

@media screen and (max-width: 240px) {
	body {
		font-size: 1em;
	}

	.workInProgress {
		font-size: 0.8rem;
		text-transform: uppercase;
	}
} 

@media screen and (max-width: 640px) {
	body {
		font-size: 1em;
	}

	.workInProgress {
		font-size: 4rem;
	}
} 
